.header {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  background-color: #ffffff;
  font-size: 20px;
  padding: 10px 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo_box {
  padding: 2px;
}
.logo {
  width: 175px;
  height: 60px;
}

.logo:hover {
  cursor: pointer;
}


.navigation_items {
  display: flex;
  gap: 30px;
  text-decoration: none;
  font-weight: 400;


}

.navigation_items li{
  list-style: none;


}
.navigation_item {
  list-style: none;
  text-decoration: none;
  font-size: 20px;
  color: #333;
  font-family: "fira sans";
}

.navigation_item:hover {
  color: rgb(54, 148, 220);
}

.active {
  color: rgb(54, 148, 220);
  border-bottom: 2px solid rgb(54, 148, 220);
}

.btn_cv {
  border: none;
  color: black;
  background-color:rgb(0, 137, 241);
  font-size: 15px;
  /* border: 2px solid rgb(54, 148, 220); */
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.cv{
  text-decoration: none;
  color: rgb(255, 255, 255);

  
}
.btn_cv:hover {
  background-color: #5599e3;
}

