.main{
    text-align: center;
}
.certificateName_heading{
    color:rgb(54, 148, 220); ;
}
.certificate_image{
    border: 2px solid rgb(54, 148, 220);
    border-radius: 4px;
    display: inline-block;
}