.my_skills {
  margin: 12px 100px;
  padding-top: 25px;
}

.icon {
  margin-right: 10px;
  color: rgb(0, 137, 241);
  font-size: 30px;
  height: 40px;
  width: 40px;
}

.introduction {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
  word-wrap: break-word;
  word-break: break-word;
}

.skills_section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid with minimum width of 300px */
  gap: 20px;
  /* padding: 20px; */
}

.skill_box {
  text-align: start;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  padding: 10px 5px 10px 10px;
  background-color: #ffffff;
  color: #555;
  line-height: 1.6;
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
  animation-delay: calc(0.5s * var(--animation-order));
}

.skillImage {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Darker box shadow */

  padding: 10px;
  border-radius: 50%;
}
.description{
  padding: 0;
}
/* .skill_box:hover {
  box-shadow: 0px 0px 10px rgba(17, 145, 244, 0.3);
  transition: all 0.3s ease;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill_box h3{
  padding: 10px 0px;
}
.skill_box h3 a {
  text-decoration: none;
  color:rgb(0, 137, 241);

  text-decoration: underline;
}

.skill_box p {
  margin-top: -20px;
}

.skill_box h3 a:hover {
  color: rgb(90, 171, 233);
}

.skill_box h3 {
  margin-top: 0;
}

@media screen and (max-width: 425px) {
  .my_skills {
    margin: 12px 30px;
  }
  .heading {
    font-size: 20px;
  }
  .icon {
    font-size: 25px;
  }
  .skill_box {
    flex-wrap: wrap;
    max-width: 100%;
    padding: 20px;
    gap: 0px;
  }
  .description {
  margin-top: -100px;
  }
  .skill_image{
    margin-bottom: 0px;

  }
}
