.experienceSection {
  padding: 40px 100px;
  background-color: #1a1a1a;
}

.experience{
  padding: 30px 0px; 
}
.experienceContainer {
  /* margin-top: 30px; */
  margin-bottom: 15px;
}

.dropdownHeader {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.experienceItem {
  display: flex;
  flex-direction: column;
  /* background-color: antiquewhite; */
}

.company_details {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* background-color: antiquewhite; */
}

.companyName {
  display: flex;
  align-items: center;
  gap: 10px;
}

.companyLogo {
  width: 30px;
  height: 30px;
}

.company_title {
  margin-left: auto;
  text-align: right;
  display: flex;
  gap: 20px;
}

.work_desciption {
  margin-top: 10px;
  letter-spacing: 0.5px;
  line-height: 30px;
 
  padding: 20px;
}


.work_desciption ul {
  margin: 0;
  padding-left: 20px;
}


.icon{
  height: 40px;
  width: 35px;
}


@media screen and (max-width:425px){
  .experienceSection{
    padding: 10px 30px;
  }
}