.contact_section {
  padding: 60px;
  background-color: #f9f9f9;
  background-image: url("/images/contact-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact_page {
  max-width: 550px;
  margin: 0 auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact_heading {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
  font-size: 20px;

}

.contact_form {
  display: flex;
  flex-direction: column;
}

.form_group {
  margin-bottom: 30px;
}

.form_input {
  width: 100%;

}

.buttons {
  display: flex;
  gap: 30px;
  /* justify-content: space-between; */
  align-items: center;
}

.submit_button {
  background-color: #1976d2;
  color: #fff;
}

.reset_button {
  color: #1976d2;
  border-color: #1976d2;
}

.sending{
  display: flex;
  justify-content: center;
  align-items: center;

}
.loading_spinner {
  margin-left: 10px;
}

.sent_message {
  text-align: center;
  color: green;
}

.icon {
  margin-left: 5px;
}
