.contact_page {
  max-width: 500px;
  margin: 3rem auto 5rem;
  padding: 45px;
  /* background-color: antiquewhite; */
  border: 1px solid #ccc; 
  box-shadow: 0 10px 18px rgba(11, 145, 255, 0.1); 
  border-radius: 10px;
}
.contact_heading{
  text-align: center;
  color: #333;
  margin-top: -20px;
}
  .contact_form {
    display: flex;
    flex-direction: column;
  }
  
  .form_group {
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
 
  
  .form_input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    max-width: 500px;
    min-width: 500px;

  }
.buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}
  .submit_button{
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit_button:hover {
    background-color: #5599e3;
  }
  
  .reset_button{
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid black;
    transition: background-color 0.3s ease;
  }
  .sent_message{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0; 
   
  }
  .icon{
    height: 20px;
    width: 20px;
    color: #13ca7e;
  }

  .input_error {
    border: 1px solid red; 
  }
  
  .error_message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  