.footer {
 background-color: rgb(240, 249, 255);

 margin-top: 14rem;

}
.footer_container {
 display: flex;
 flex-wrap: wrap;
 padding: 0px 40px 0px;
 gap: 30px;
 border-bottom: 1px solid rgb(178, 178, 178)
}
.footer__contact,
.footer__social,
.footer__nav {
  /* padding: 32px 16px; */
  display: flex;
  flex-direction: column;
}
.contact_heading{
  color: rgb(54, 148, 220);
  font-size: 30px;
  font-weight: 700;
  text-align: right;
}
.contact_details h5{
  color:  rgb(88, 88, 88);
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  line-height: 32px;
  margin-top: -10px;

}
.contact_text{
  text-align: right;
  margin-top: -30px;
}
.footer_logo{
  text-align: center;
}
.footer_social{
  border-left: 1px solid rgb(134, 134, 134);
  border-right: 1px solid rgb(134, 134, 134);
  align-items: center;
  gap: 48px;
  flex-grow: 1;
  padding:0px 48px;
}
.footer_social_text{
  max-width: 49rem;
  font-size: 18px;
  text-align: center;

}

.footer_social_link{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 60px;

 /* padding: 40px; */
}
.social_link{
  color:  rgb(134, 134, 134);
font-size: 40px;
}
.social_link:hover{
  color: rgb(54, 148, 220);

}

.copyrights{
  text-align: center;
  /* padding: 40px; */
  margin-top: 20px;
}


.footer_navlinks{
  text-decoration: none;
  color:  rgb(88, 88, 88);
  padding: 5px 10px;
}
.footer_navlinks:hover{
  color: rgb(54, 148, 220);
}