/* About Section */
.about_section {
  display: flex;
  /* flex-direction: column; */
  padding: 100px 100px;
  gap: 40px;
}
.left_about_section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 30px;
  /* align-items: space-around; */

}

.left_img {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.right_about_section {
  flex: 1;
  cursor:default;
  padding: 0px 10px;
  font-size: 18px;
  border-radius: 6px;
  /* display: flex;
  flex-direction: column; */
/* background-color: antiquewhite; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}


.fancy_heading {
  font-family: "Poppins", sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: rgb(0, 137, 241);
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  position: relative;
}

.fancy_heading::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 5px;
  background-color: rgb(0, 137, 241);
  bottom: -10px;
  left: 0;
  border-radius: 5px;
}

.sub_heading {
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  margin-bottom: 10px;
 
}

.description {
  font-family: "Arial", sans-serif;
  font-size: 0.9em;
  line-height: 1.6;
  color: #333;
  margin-bottom: 20px;
}

.contact_list {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 20px;
  padding-left: 0;
}

.contact_list .contact_item {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.contact_list .contact_item .icon {
  font-size: 20px;
  margin-right: 10px;
  color: #333;
  height: 20px;
  width: 20px;
}

.contact_list .contact_item p {
  margin: 0;
}

.link {
  margin-right: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .about_section {
    flex-direction: column;
    padding: 50px 20px;
  }

  .left_about_section {
    max-width: 100%;
    margin-bottom: 30px;
  }

  .right_about_section {
    max-width: 100%;
  }
}
