.certificate_heading{
    text-align: center;

}
.certificate_section{
    display: flex;
    padding: 10px 100px;
    /* gap: 10px; */
    /* justify-content: center; */
    background-color: #333;
}
.certificate_heading{
    color: rgb(54, 148, 220);
}
.certificate_subheading{
    text-align: center;
    padding: 30px;
    font-size: 50px;
    background-color: rgb(240, 249, 255);
    font-style: italic;
    font-weight: 100;
}
.left_buttons{
    display: flex;
    flex-direction: column;
    max-height: 86vh;
    background-color: rgb(248, 248, 248);
    /* padding: 10px; */
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-top: 20px;

}
.left_buttons::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 4px; /* Adjust the width of the line as needed */
    background-color: rgb(54, 148, 220);; /* Adjust the color of the line */
  }
.view_ceritidate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;
    padding: 5px 40px;
    width: 20rem;
    padding-left: 15px;
    /* background-color: antiquewhite; */
    color: #333;
    font-size: 15px;
   


}

.course_type{
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 80%;
    padding: 6px 15px;
    font-size: 18px;
  
}
.course_type:hover{
    background-color: rgb(190, 190, 190);
    border-radius: 6px;
    color: #000000;

}
.view{
    border: none;
    background-color:rgb(0, 137, 241);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 5px;
    padding: 6px 15px;
}
.view:hover{
    cursor: pointer;
    background-color: #5599e3;
}
.details_heading{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
.certificate_details{
    max-height: 80vh;
    overflow-y: auto;
    border: 1px solid rgb(42, 176, 221);
    padding: 10px 40px;
    background-color: rgb(248, 248, 248);
    width: 67%;
    /* text-align: center; */
    /* border-radius: 10px; */
    border-bottom-right-radius: 10px;
   border-top-right-radius: 10px;
}

